<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blockchain.platform.mapper.OTCTrustMapper">

    <select id="query" parameterType="PageDTO" resultType="OTCTrustVO">

    </select>

    <insert id="add" parameterType="OTCTrustEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_otc_trust(
                              user_id,
                              advert_id,
                              passive_user_id,
                              type,
                              reason,
                              content,
                              create_time
                          ) VALUES (
                               #{userId},
                               #{advertId},
                               #{passiveUserId},
                               #{type},
                               #{reason},
                               #{content},
                               NOW()
    </insert>

    <update id="update" parameterType="OTCTrustEntity">
        UPDATE t_otc_trust SET state = #{state}
        WHERE user_id = #{userId}
        <if test='passiveUserId != null'>
            AND passive_user_id = #{passiveUserId}
        </if>
        <if test='advertId != null'>
            AND advert_id = #{advertId}
        </if>
    </update>
</mapper>
